<title>News Decoder</title>

<meta charset="utf-8" />
<meta property="og:type" content="website" />
<meta property="og:title" content="News Decoder" />
<meta property="og:description" content="Decoding Caesar Cipher on paywalled newsarticles" />
<meta name="google" content="notranslate">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1" />

<script src="public/js/jquery/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>

<script src="public/js/Cipherdecoder.js" type="text/javascript" charset="utf-8"></script>


<!-- <link rel="icon" type="image/png" href="favicon.png" /> -->
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="public/css/style.css" type="text/css" media="screen" charset="utf-8" />

<script defer src="public/js/fontawesome-free-6.0.0-beta3-web/js/all.js"></script>