<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div id="container">
    <h1>Read paywalled news articles for free!</h1>
    <p>Paste URL of article below...</p>
    
    <!-- <label for="articleurl">URL:</label> -->

    <input type="text" id="articleurl" name="articleurl" required style="margin-left: 10px;" placeholder="https://...">
    <br>
    <button type="button" id="submiturlbutton">Read!</button> 

    <div id="loader" style="display: none;">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    <div id="resulttext">

    </div>

    
    <div class="credits-container">
        This project is created and maintained by <a href="https://github.com/lrslsk" target="_blank">@lrslsk</a><br>
    </div>
</div>
</body>
</html>
